body {
    padding: 5%;
    background-color: #F5F5F5;
  }
  
  .container {
    padding:0;
    background-color: #FFF; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 700px;
    display: flex;
  }
  
  /* ===== MENU ===== */
  .menu {
    float: left;
    height: 700px;;
    width: 70px;
    background: #4768b5;
    background: -webkit-linear-gradient(#4768b5, #35488e);
    background: -o-linear-gradient(#4768b5, #35488e);
    background: -moz-linear-gradient(#4768b5, #35488e);
    background: linear-gradient(#4768b5, #35488e);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  }
  
  .menu .items {
    list-style:none;
    margin: auto;
    padding: 0;
  }
  h1{
    color: white;
    text-align: center;
  }
  .menu .items .item {
    height: 70px;
    border-bottom: 1px solid #6780cc;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #9fb5ef;
    font-size: 17pt;
  }
  
  .menu .items .item-active {
    background-color:#5172c3;
    color: #FFF;
  }
  
  .menu .items .item:hover {
    cursor: pointer;
    background-color: #4f6ebd;
    color: #cfe5ff;
  }
  
  /* === CONVERSATIONS === */
  
  .discussions1 {
   
   width: 50%;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    background-color: black;
    display: inline-block;
  }
  
  .discussions1 .discussion {
    width: 100%;
    height: 90px;
   
    border-bottom: solid 1px #E0E0E0;
    display:flex;
    align-items: center;
    cursor: pointer;
  }
  
  .discussions1 .search {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
  }
  
  .discussions1 .search .searchbar {
    height: 40px;
    background-color: #FFF;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    display:flex;
    align-items: center;
    cursor: pointer;
  }
  
  .discussions1 .search .searchbar input {
    margin-left: 15px;
    height:38px;
    width:100%;
    border:none;
    font-family: 'Montserrat', sans-serif;;
  }
  
  .discussions1 .search .searchbar *::-webkit-input-placeholder {
      color: #E0E0E0;
  }
  .discussions1 .search .searchbar input *:-moz-placeholder {
      color: #E0E0E0;
  }
  .discussions1 .search .searchbar input *::-moz-placeholder {
      color: #E0E0E0;
  }
  .discussions1 .search .searchbar input *:-ms-input-placeholder {
      color: #E0E0E0;
  }
  
  .discussions1 .message-active {
    width: 100%;
    height: 90px;
   
    border-bottom: solid 1px #E0E0E0;
  }
  
  .discussions1 .discussion .photo {
      margin-left:20px;
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
    
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .online {
    position: relative;

    width: 13px;
    height: 13px;
    background-color: green;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
  }
  
  .desc-contact {
    height: 43px;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .discussions1 .discussion .name {
    margin: 0 0 0 20px;
    font-family:'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  }
  
  .discussions1 .discussion .message {
    margin: 6px 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 11px;
    color:white
  }
  .discussions1 {
   
    width: 50%;
     box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
     overflow: hidden;
     background-color: black;
     display: inline-block;
   }
   
   .discussions1 .discussion {
     width: 100%;
     height: 90px;
    
     border-bottom: solid 1px #E0E0E0;
     display:flex;
     align-items: center;
     cursor: pointer;
   }
   
   .discussions1 .search {
     display:flex;
     align-items: center;
     justify-content: center;
     color: #E0E0E0;
   }
   
   .discussions1 .search .searchbar {
     height: 40px;
     background-color: #FFF;
     width: 70%;
     padding: 0 20px;
     border-radius: 50px;
     border: 1px solid #EEEEEE;
     display:flex;
     align-items: center;
     cursor: pointer;
   }
   
   .discussions1 .search .searchbar input {
     margin-left: 15px;
     height:38px;
     width:100%;
     border:none;
     background-color: grey;
     font-family: 'Montserrat', sans-serif;;
   }
   
   .discussions1 .search .searchbar *::-webkit-input-placeholder {
       color: #E0E0E0;
   }
   .discussions1 .search .searchbar input *:-moz-placeholder {
       color: #E0E0E0;
   }
   .discussions1 .search .searchbar input *::-moz-placeholder {
       color: #E0E0E0;
   }
   .discussions1 .search .searchbar input *:-ms-input-placeholder {
       color: #E0E0E0;
   }
   
   .discussions1 .message-active {
     width: 100%;
     height: 90px;
  
     border-bottom: solid 1px #E0E0E0;
   }
   
   .discussions1 .discussion .photo {
       margin-left:20px;
       display: block;
       width: 45px;
       height: 45px;
       background: #E6E7ED;
     
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
   }
   
   .online {
     position: relative;
 
     width: 13px;
     height: 13px;
     background-color: green;
     border-radius: 13px;
     border: 3px solid #FAFAFA;
   }
   
   .desc-contact {
     height: 43px;
     width:50%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
   }
   
   .discussions1 .discussion .name {
     margin: 0 0 0 20px;
     font-family:'Montserrat', sans-serif;
   font-size: 15px;
   color: white;
   }
   
   .discussions1 .discussion .message {
     margin: 6px 0 0 20px;
     font-family:'Montserrat', sans-serif;
     font-size: 11px;
     color:white
   }
  img{
    width: 40px;
    border-radius: 50%;
  }
  
  .timer {
    margin-left: 15%;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
  }
  
  .chat {
    width: calc(65% - 85px);
    overflow: scroll;
    position: relative;
    background-color: black;
  }
  
  .header-chat {
    background-color: #FFF;
   
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
 justify-content: center;
    background-color: black;
   
  }
  
  .chat .header-chat .icon {
    margin-left: 30px;
    color:white;
    font-size: 14pt;
  }
  
  .chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:white
  }
  
  .chat .header-chat .right {
    position: absolute;
    right: 40px;
  }
  
  .chat .messages-chat {
  
    overflow-x: hidden;
    height: 500px;
    display: initial;
    position: absolute;
  width: 100%;  }
  
  .chat .messages-chat .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .chat .messages-chat .message .photo {
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
 
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .chat .messages-chat .text {
    margin: 0 35px;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
  }
  
  .text-only {
    margin-left: 45px;
  }
  
  .time {
    font-size: 10px;
    color:black;
    margin-bottom:10px;
    margin-left: 85px;
    float: right;
  }
  
  .response-time {
    float: right;
    margin-right: 40px !important;
  }
  
  .response {
    float: right;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
  }
  
  .response .text {
    background-color: #e3effd !important;
  }
  
  .footer-chat {
   
    /* height: 80px; */
    display: flex;
    height:20px;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap:1rem;
    width: 100%;
    background: black;
    border-radius: 25px 25px 25px 25px;
    padding: 2rem;
    /* border-top: 2px solid #EEE; */
}
i{
  font-size: 20px;
  color: white;
}
  
  .chat .footer-chat .icon {
    margin-left: 30px;
    color:#C0C0C0;
    font-size: 14pt;
  }
  

  .chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:#515151;
  }
  .chat .footer-chat .send {
    color: #fff;
    background-color: #4f6ebd;
    /* position: absolute; */
    /* right: 50px; */
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
}
  .chat .footer-chat .right {
    position: absolute;
    right: 40px;
  }
  
  .write-message {
    border:none !important;
  
    height: 50px;
  
    padding: 10px;
  }
  
  .footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  
  .clickable {
    cursor: pointer;
  }
  input{
    word-break: break-all;
  }
  #input[type='file']{
    display: none;

  }
  
  .butt{
    position: absolute;
  /* bottom: 0; */
  top: 0;
  right: 0;
  }
  .image img{
   width: 100%;
  }

  .cc{
    width: 100%;
  }
  textarea{
    border-radius: 25px 25px 25px 25px;
    width: 100%;
  }
  .fa-solid.fa-arrow-left{
    display: none;
  }
  .set_date{

    right: 0;
    bottom: 0;
    color: black;
  }
@media screen and (max-width:800px) {
 
  .fa-solid.fa-arrow-left{
    display: block;
  }

  .discussions1{ width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
   }
  .chat{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
   
  
  
  }
 

.discussion1.active{
  background-color: #4f6ebd;
}

}
